.App {
  text-align: center;
  background-color: #050430; /* #050430 */
}
.title {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif; /* Use a more modern font */
  font-size: 36px; /* Increase the font size */
  font-weight: bold; /* Make the text bold */
  color: #add8e6; /* Use the same color as the dropdown menu */
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}


@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
