/* .playlist {
     border-width: 3px;
     border-color: black;
     display:flex;
     flex-direction: row;
}
.playlistimage {

}
.playlistinfo {

}
.songtitle {

}
.songartist {

}

`<div class="playlist">
    <img src="${movie.movieTitle}" alt="Song cover art" class="playlistimage">
    <div class="playlistinfo">
    <h3 class="songtitle">${movie.movieTitle}</h3>
    <p class="songartist">${movie.movieTitle}</p>
    </div>
</div>`; */