/* .cardcontainer {
    margin-top: 5vw;
} */
.allcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  /* padding: 20px; */
}
.sortbutton {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 50px; /* Make the text center-aligned */
  text-align: center;
  color: #333;
  background-color: #add8e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sortbutton:focus {
  outline: none;
}
.sortbutton option {
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.sortbutton option:hover {
  background-color: #f2f2f2;
}
.loadmore{
  display: inline-block; /* Make the element take only the necessary space */
  padding: 10px 20px; /* Add some padding around the input */
  background-color: #add8e6; /* Use the same color as the dropdown menu */
  border: none; /* Remove the default border */
  border-radius: 4px; /* Add rounded corners */
  font-family: 'Roboto', sans-serif; /* Use a more modern font */
  font-size: 16px; /* Adjust the font size */
  color: #333;
}