/* .cardcontainer {
    margin-top: 5vw;
} */
.allcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  /* padding: 20px; */
}