.container {
  display: flex; /* enable flex layout */
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
  height: 70px; /* use full height of viewport */
  padding-bottom: 20px;
}
ul {
  list-style: none; /* remove default bullet points */
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  }
li {
    display:inline;
    width: 80px;
    border-color: black;
    border-radius: 3px;
    
}
a {
    width: 70px;
    align-items: center;
    display: inline-block;
    padding: 8px;
    background-color: #dddddd;
    
  }