.container {
  display: flex; /* enable flex layout */
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
  height: 70px; /* use full height of viewport */
  padding-bottom: 20px;
}
ul {
  list-style: none; /* remove default bullet points */
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  }
li {
    display:inline;
    width: 80px;
    border-color: black;
    border-radius: 3px;
    
}
a {
    width: 70px;
    align-items: center;
    display: inline-block;
    padding: 8px;
    background-color: #dddddd;
    
  }
  .nowplaying {
    display: inline-block; /* Make the element take only the necessary space */
    padding: 20px; /* Add some padding around the text */
    background-color: #add8e6; /* Use the same color as the dropdown menu */
    border-radius: 4px; /* Add rounded corners */
    text-align: center; /* Center the text horizontally */
    font-family: 'Roboto', sans-serif; /* Use a more modern font */
    font-size: 18px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Set the text color */
    text-decoration: none; /* Remove any underlines */
  }
  .nowplaying:hover {
    background-color: #f2f2f2; /* Add a hover effect */
  }